* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f5f5;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* global button */
.btn {
    transition: all 0.3s ease;
}


.btn:active {
    transform: scale(0.97);
}

/* BUTTON HIJAU */
.btn-primary:hover,
.btn-login:hover,
.btn-reset:hover,
.donate-btn:hover {

    background: #14853d;
}

/* BUTTON PUTIH */
.btn-outline:hover,
.detail-btn:hover {

    background: #f5f5f5;

    color: #19a34a;

    border-color: #19a34a;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}

/* navbar */

.navbar {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 70px;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 52px;
}

.logo h2 {
    color: #0A554C;
    font-size: 18px;
}

.logo span {
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: #555;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
    color: #19a34a;
}

.search-box {
    position: relative;
}

.search-box input {
    width: 500px;
    padding: 12px 40px 12px 18px;
    border: 1px solid #ddd;
    border-radius: 30px;
    outline: none;
}

.search-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.btn-outline {
    padding: 10px 30px;
    border: 1px solid #19a34a;
    border-radius: 10px;

    background: #fff;
    color: #19a34a;

    cursor: pointer;
    font-weight: 600;
}

.btn-primary {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;

    background: #19a34a;
    color: #fff;

    cursor: pointer;
    font-weight: 600;
}

/* hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 70px;
    position: relative;
    overflow: hidden;
}

.hero-text {
    width: 50%;
    z-index: 2;
}

.hero-text h1 {
    font-size: 78px;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 20px;
    color: #555;
    line-height: 1.7;
}

.hero-image {
    width: 48%;
    position: relative;
    margin-right: -120px;
    margin-top: -80px;
}

.hero-image img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 35px;
}

/* BRUSH */
.hero-brush {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background: linear-gradient(to right,
            #f5f5f5 0%,
            rgba(245, 245, 245, 0.9) 30%,
            rgba(245, 245, 245, 0.4) 70%,
            rgba(245, 245, 245, 0) 100%);
    z-index: 2;
}

/* visi misi */
.visi-misi {
    padding: 30px 70px 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}

.vm-card {
    background: #fff;
    border-radius: 25px;
    padding: 40px;
    border: 1px solid #e6e6e6;
    transition: 0.3s ease;
}

.vm-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.06);
}

.vm-card i {
    font-size: 38px;
    color: #19a34a;
    margin-bottom: 20px;
}

.vm-card h2 {
    margin-bottom: 20px;
    font-size: 38px;
}

.vm-card p {
    color: #555;
    line-height: 1.8;
    font-size: 18px;
}

/* dampak */

.impact-section {
    padding: 20px 70px 80px;
}

.section-title {
    text-align: center;
    font-size: 58px;
    margin-bottom: 50px;
}

.impact-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.impact-card {
    width: 260px;
    background: #fff;
    border-radius: 22px;
    padding: 40px 25px;
    text-align: center;
    border: 1px solid #e8e8e8;
    transition: 0.3s ease;
}

.impact-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}

.impact-icon {
    width: 90px;
    height: 90px;
    margin: auto auto 25px;
    border-radius: 50%;
    background: #eaf7ed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.impact-icon i {
    font-size: 40px;
    color: #157d38;
}

.impact-card h3 {
    font-size: 40px;
    margin-bottom: 10px;
}

.impact-card h4 {
    margin-bottom: 12px;
    font-size: 22px;
}

.impact-card p {
    color: #666;
    line-height: 1.7;
}

/* values */
.values-section {
    padding: 20px 70px 80px;
}

.values-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.value-box {
    display: flex;
    gap: 18px;
}

.value-icon {
    min-width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #eaf7ed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value-icon i {
    font-size: 28px;
    color: #157d38;
}

.value-content h3 {
    margin-bottom: 10px;
    font-size: 30px;
}

.value-content p {
    color: #555;
    line-height: 1.7;
    font-size: 17px;
}

/* team */

.team-section {
    background: #eef7ef;
    padding: 80px 70px;
}

.team-title {
    text-align: center;
    font-size: 58px;
    margin-bottom: 60px;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.team-card {
    width: 240px;
    background: #fff;
    border-radius: 22px;
    overflow: hidden;
    transition: 0.3s ease;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.team-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.1);
}

.team-card img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    display: block;
}

.team-info {
    padding: 20px;
    text-align: center;
}

.team-info h3 {
    font-size: 22px;
    margin-bottom: 5px;
}

.team-info p {
    color: #666;
    margin-bottom: 15px;
}

.team-socials {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.team-socials i {
    font-size: 22px;
    cursor: pointer;

    transition: 0.3s ease;
}

.team-socials i:hover {
    color: #19a34a;
    transform: scale(1.15);
}

/* responsive */
@media(max-width:1200px) {
    .hero {
        flex-direction: column;
    }

    .hero-text,
    .hero-image {
        width: 100%;
    }

    .hero-image {
        margin-right: 0;
    }

    .values-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(max-width:768px) {
    .navbar {
        padding: 20px;
        flex-wrap: wrap;
        gap: 20px;
    }

    .hero {
        padding: 50px 25px;
    }

    .hero-text h1 {
        font-size: 48px;
    }

    .hero-image img {
        height: 4200px;
    }

    .visi-misi {
        grid-template-columns: 1fr;
        padding: 30px 25px;
    }

    .impact-section,
    .values-section,
    .team-section {
        padding: 40px 25px;
    }

    .values-container {
        grid-template-columns: 1fr;
    }

    .section-title,
    .team-title {
        font-size: 42px;
    }
}

/* footer */
footer {
    background: linear-gradient(to right, #0f2d2b, #123d35);
    color: #fff;
    padding: 70px;
    margin-top: 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo {
    width: 30%;
}

.footer-logo img {
    width: 60px;
    margin-bottom: 15px;
}

.footer-logo h2 {
    margin-bottom: 15px;
}

.footer-logo p {
    color: #ddd;
    line-height: 1.8;
}

.footer-contact h3 {
    margin-bottom: 20px;
}

.footer-contact p {
    margin-bottom: 15px;
    color: #ddd;
}

.socials {
    display: flex;
    gap: 20px;
}

.socials i {
    width: 60px;
    height: 60px;
    background: #fff;
    color: #111;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
}

.copyright {
    text-align: center;
    margin-top: 50px;
    color: #ddd;
}